.main{
  width: 700px;
  margin: 0 auto;
  color: #333333;
}

p{
  margin-top: 40px;
  padding: 16px;
  color: #333333;
  font-weight: bold;
}

.firstbox{
  background-color: #c9dbf0;
  border: solid 1px; 
}

.secondbox{
  background-color: #ead1db;
  border: solid 1px; 
}